<h1>Log In Page</h1>


<form action='/home' method='POST'>
	<input type="text" name="userName" placeholder="Type your Username">
	<button>Sumbit</button>
</form>


<a href="/newUser">New User</a>

